.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-bar {
  display: flex;
  gap: 34px;
}

.category-bar .active {
  text-decoration: underline;
}

.category-bar button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-bottom: 32px;
  color: #3f393a;
  cursor: pointer;
}

.category-bar span {
  color: #3f393a;
  font-weight: 200;
}

.productsItem-container {
  background-color: var(--cor-clara);
  width: 70%;
  max-height: 58vh;
  margin-bottom: 12px;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25),
    inset 2px 3px 4px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 25px;
  column-gap: 15px;
  justify-items: center;
}