.button {
    width: 190px;
    height: 37px;

    background-color: #8E4358;
    color: #FFFFFF;

    border: none;
    border-radius: 100px;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}