.button {
  padding: 10px 25px;
  background-color: var(--cor-destaque);
  color: var(--cor-clara);

  border: none;
  border-radius: 100px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  width: 100%;
  max-width: 250px;
  margin: 10px auto;
}
