.button {
  padding: 10px 25px;
  background-color: var(--cor-destaque);
  color: var(--cor-clara);

  border: none;
  border-radius: 100px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 15px;
}

.button img {
  max-width: 32px;
}