/* .product-container {
  width: 200px;
  height: 280px;
  background-color: #e2c479;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 100%;
  height: 140px;
  background-color: #F8F0DD;
}

.product-image img {
  object-fit: contain;
} */


.product-front {
  
}