.page-container {
  min-height: 100vh;
  background-color: var(--cor-principal-fundo);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.register-content {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.page-title {
  color: var(--cor-texto-principal);
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.login-link-top {
  display: block;
  color: var(--cor-texto-principal);
  text-decoration: underline;
  font-size: 0.9rem;
  margin-bottom: 25px;
  font-weight: bold;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-container-register {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
