.orderpage-container {
  min-height: 100vh;
  background-color: #d8bb73;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.orderpage-title {
    font-size: 24px;
    font-weight: 700;
    color: #4a3b1e;
    margin-bottom: 24px;
    text-align: center;
}

.orderpage-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 100%;
  max-width: 1100px;
}

@media (min-width: 768px) {
  .orderpage-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.orderpage-box {
  background-color: #f7f0df;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}


/*Parte do Comprovante*/

.orderpage-subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #4a3b1e;
  margin-bottom: 16px;
}

.orderpage-text {
  color: #4a3b1e;
  font-weight: 500;
  margin: 15px;
}

.orderpage-divider {
  border: none;
  border-top: 1px solid #887C7E;
  margin: 16px 0;
}

.orderpage-number-box {
  background-color: #5c4a27;
  color: white;
  font-size: 64px;
  font-weight: bold;
  padding: 24px 0;
  border-radius: 16px;
  text-align: center;
  letter-spacing: 4px;
}

.orderpage-button-area {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}


/*Parte do Produto*/

.orderpage-subtitle.center {
  text-align: center;
}

.orderpage-divider.short {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.orderpage-products {
  color: #4a3b1e;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px; 
}

.orderpage-unit {
  font-size: 14px;
  color: #6d5a33;
}


.orderpage-divider-total {
    border: none;
    border-top: 2px solid #887C7E; 
    margin: 0 0 8px 0;
}

.orderpage-total {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  color: #4a3b1e;
}
