.page-container {
  min-height: 100vh;
  background-color: var(--cor-principal-fundo);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.login-content {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.page-title {
  color: var(--cor-texto-principal);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.2;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: bold;
}

.form-footer a {
  color: var(--cor-texto-principal);
  text-decoration: underline;
  cursor: pointer;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
