@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.product-container {
  position: relative;
  max-width: 200px;
  background-color: #E2C479; 
  border-radius: 12px;
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
  cursor: pointer;
}

/* --- Parte do FRONT --- */

.product-front {
  text-align: left;
}

.product-image {
  background: #F8F0DD;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.product-image img {
  width: 85%;
  height: auto;
  border-radius: 10px;
}

.product-front h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0 -3px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #1E1B1C;
}

.product-front p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #1E1B1C;
}

.switch-details-front {
  background: none;
  border: none;
  color: #2e2e2e;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  margin-bottom: 11px;
}

/* --- Parte do Back - DESCRIÇÃO --- */

.product-back{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-back h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: #1E1B1C;
}

.product-back p {
  flex-grow: 1;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.4;
  color: #1E1B1C;
  margin-bottom: 10px;
}

.switch-details-back {
  background: none;
  border: none;
  color: #2e2e2e;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 11px;
  align-self: flex-start;
}

/* --- PREÇO do produto --- */

.product-price {
  margin-top: auto;
}

.product-price h3 {
  width: 100%;
  background-color: #8E4358; 
  color: #F1F0F1;
  padding: 12px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.product-selected {
  border: 3px solid #8E4358;
  padding: 11px 5px;
}

.product-selected-tag {
  position: absolute;
  background-color: #8E4358;
  color: #F1F0F1;
  padding: 6px 14px;
  border-radius: 24px;
  font-size: 13px;
  right: -10px;
  top: -12px;
}