.payment-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.back-button{
    position: absolute;
    left: 350px;
    top: 100px;
}

.payment-title{
    margin-bottom: 20px;
}

